.h1
    color: black
    width: 100%
    font-weight: 300
    text-align: center
    margin-top: 15px
    margin-bottom: 0

.searchBar
    width: 90%
    margin: 20px auto
    display: flex
    align-items: center
    justify-content: space-between
