.city 
    width: 100vw
    height: 150px
    display: flex
    align-items: center
    justify-content: center
    border-top: thin solid white
    border-bottom: thin solid white
    z-index: 1
    background-size: cover

    &__cityName
        color: white
        text-decoration: none
        font-size: 1.7rem
        white-space: nowrap
        display: flex
        flex-direction: column
        align-items: center
  
    &__country
        color: white
        font-size: 0.8rem

        
  
