.form {
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 8px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 0;
  div {
    background-color: white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border: 8px solid rgb(70, 70, 70);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    img {
      //width: 100%;
    }
  }
  input:focus:valid {
    outline: medium solid rgb(33, 190, 33);
  }
}
