.dropDown {
  position: relative;
  display: inline-block;
}

.contentList {
  z-index: 1000;
  list-style: none;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  min-width: 85px;
  color: black;
  display: block;
  position: absolute;
  background-color: white;
  white-space: nowrap;
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.contentList____closed {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.contentList____open {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.contentList a {
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 7px;
  color: black;
  text-align: center;
  border-bottom: thin solid rgba(194, 194, 194, 0.5);
}

.contentList__item {
  padding: 7px;
  color: black;
  text-align: center;
  border-bottom: thin solid rgba(194, 194, 194, 0.5);
}

.contentList__item a {
  padding: 0;
  border-bottom: none;
}
