.itinerary {
  width: 95%;
  margin: 15px auto;
  border: thin solid black;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #313131;
  color: white;
  height: 3.2rem;
}

.header__title {
  text-align: center;
  width: 70%;
  font-weight: 500;
  font-size: 1.2rem;
}

.header__photo {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: white;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.6rem auto;
}

.description__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.6rem auto;
}

.viewMoreButton {
  list-style: none;
  text-align: center;
  color: white;
  background-color: #313131;
  padding: 8px 0;
  font-weight: 300;
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.activities {
  color: white;
  background-color: #1a1a1a;
  padding: 5px 0;
  list-style: none;
}

.activities__title {
  padding: 5px 0;
  padding-bottom: 10px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.activities__activity {
  padding: 5px 0;
  padding-left: 10px;
}

.activities__activity:nth-child(odd) {
  background-color: #313131;
}

.activities__input {
  width: 95%;
  font-size: 1.1rem;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.activities__templateInput {
  font-size: 1rem;
  outline: thin solid black;
}

.activities__templateInput:valid {
  outline: thin solid lightgreen;
}
