.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../Images/hero\ background2.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 25px;
  width: 85%;
}

h1 {
  margin: 40px auto;
  font-weight: 300;
  font-size: 1.8rem;
  color: white;
  width: 85%;
}

.browse {
  margin: 0 auto;
  margin-top: 55px;
  display: block;
  width: 40%;
  fill: white;
}

section {
  padding-top: 25px;
  padding-bottom: 55px;
  h2 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 25px;
  }
}
