nav {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100vw;
  position: fixed;
  height: 2.8rem;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  color: white;
}

nav .dropdown-user-menu {
  position: relative;
  z-index: 1000;
  display: inline-block;
  height: 85%;
}

nav .dropdown-user-menu img {
  cursor: pointer;
  border: medium solid white;
  height: 100%;
  border-radius: 50%;
}

nav .dropdown-user-menu-content {
  display: block;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  padding: 10px;
  background-color: white;
  position: absolute;
  left: 0;
  white-space: nowrap;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  -webkit-transform-origin: top;
          transform-origin: top;
}

nav .dropdown-user-menu-content.down {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

nav .dropdown-user-menu-content.up {
  -webkit-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

nav .dropdown-menu {
  position: relative;
  z-index: 1000;
  display: inline-block;
}

nav .dropdown-menu-content {
  display: block;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  padding: 10px;
  background-color: white;
  position: absolute;
  right: 0;
  min-width: 110px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  -webkit-transform-origin: top;
          transform-origin: top;
}

nav .dropdown-menu-content.down {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

nav .dropdown-menu-content.up {
  -webkit-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

nav ul {
  list-style: none;
}

nav li {
  text-align: center;
}

nav li + li {
  margin-top: 0.4rem;
}

nav a {
  color: black;
  text-decoration: none;
}

nav .burger-menu {
  display: inline-block;
  cursor: pointer;
  /* Animation */
}

nav .burger-menu .bar1,
nav .burger-menu .bar2,
nav .burger-menu .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .burger-menu .bar1.bar + .bar,
nav .burger-menu .bar2.bar + .bar,
nav .burger-menu .bar3.bar + .bar {
  margin-top: 6px;
}

nav .burger-menu.change {
  /* Rotate first bar */
  /* Fade out the second bar */
  /* Rotate last bar */
}

nav .burger-menu.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

nav .burger-menu.change .bar2 {
  opacity: 0;
}

nav .burger-menu.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}
/*# sourceMappingURL=navbar.css.map */